li{
    display: inline-block;
    padding: 8px 16px;
    margin: 5px;
    background-color: yellow;
    color: black;
}

a{
    text-decoration: none;
    
}

li:hover{
    background-color: orangered;
    color: white;
}