<section>
    <form>
        <input name="identifiant" required [(ngModel)]="user.identifiant" (input)="logUser()" #ctlId="ngModel">
        <span *ngIf="ctlId.invalid">Merci de renseigner l'identifiant</span>
        <input name="motdepasse" type="password" minlength="6" required [(ngModel)]="user.motdepasse" (input)="logUser()" #ctlMdp="ngModel" >
        <span *ngIf="ctlMdp.invalid">Merci de renseigner un mot de passe avec au moins 6 caractères</span>
        <input type="submit" value="GO GO" [disabled]="ctlIf.invalid">
        <input type="reset" value="Ouin, Ouin, Ouin, Ouuuiin">
    </form>
</section>
